@font-face {
font-family: 'SEGA LOGO FONT';
font-style: normal;
font-weight: normal;
src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}
h1{
	font-family: 'SEGA LOGO FONT';
	font-weight: 200;
	font-size: 3em !important;
	color: #88C9B1;
	margin: 20px !important;
	animation-duration: 0.5s !important;
}